@font-face {
  font-family: "body-text";
  src: url("../app/fonts/Akkurat-Mono.OTF");
}

@font-face {
  font-family: "heading-text";
  src: url("../app/fonts/Inter-Regular.ttf");
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  /*global main container*/
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
  }

  .main > article:nth-child(3) {
    padding-top: 1rem;
  }

  .main > article:nth-child(4) {
    border-top: none;
  }

  /*global sub containers*/
  .article {
    border: 0.5px solid #fff;
    border-right: none;
    border-left: none;
    padding: 2.5rem;
  }

  .hashtag_logo {
    height: 100%;
    width: 100%;
  }

  .li {
    width: 100vw;
    list-style: none;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    padding: 1.5rem;
  }

  /*containers*/
  .mission_container h1 {
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-family: "heading-text";
    font-weight: lighter;
  }

  .mission_container h5 {
    font-family: "body-text";
    font-weight: lighter;
  }

  .about_container h5 {
    display: none;
    text-align: left;
    padding: 1rem;
  }

  .services_list {
    display: none;
    list-style: none;
    text-align: left;
  }

  .services_list li {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }

  .li h1 {
    font-family: "body-text";
    font-weight: lighter;
  }

  /*misc elements*/
  div.vertical_line:nth-child(1) {
    position: fixed;
    top: 0;
    left: 1.5rem;
    height: 100vh;
    width: 0.1rem;
    background-color: #fff;
  }

  div.vertical_line:nth-child(2) {
    position: fixed;
    top: 0;
    right: 1.5rem;
    height: 100vh;
    width: 0.1rem;
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {

}

@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}